ADC/adc_project/src/*.d
ADC/adc_project/src/*.o
Tools_and_Libs/arm-2014.05-28-arm-none-eabi-i686-pc-linux-gnu.tar.bz2
ADC/adc_project/src/implementations/
ADC/adc_project/src/*.elf
L1_Project/.cproject
L1_Project/.project
L1_Project/.updateLinks.sh
L1_Project/QtCreator/
L1_Project/_
L1_Project/activate_project.sh
L1_Project/activate_project.sh.old
L1_Project/additionals/
L1_Project/bin/
L1_Project/clean.sh
L1_Project/compile.options
L1_Project/compile.sh
L1_Project/compile.warnings
L1_Project/configs/
L1_Project/createLinks.sh
L1_Project/examples/
L1_Project/extensions
L1_Project/extensions.local/
L1_Project/main.c
L1_Project/makefile
L1_Project/qtcreator.sh
L1_Project/regressions
L1_Project/required_version
L1_Project/ttc-lib

